[Unit]
Description=Sonarr Daemon
After=syslog.target network.target
[Service]
User=sonarru
Group=users
Type=simple
ExecStart=/usr/bin/mono /opt/sonarr/bin/Sonarr.exe -nobrowser -data=/config
TimeoutStopSec=20
[Install]
WantedBy=multi-user.target
